body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: #b695c0;
    color: #fff;
    padding: 20px;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
}

.section {
    text-align: left;
}

h3 {
    font-size: 16px;
}

a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

.cr {
    background-color: #b695c0;
    text-align: center;
    padding: 10px;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer h3 {
    color:#333
}
.follow-social {
    display: flex;
    justify-content: space-around;
  }
